In [4]:
#OASIS EDA
import pandas as pd
import matplotlib.pyplot as plt
import os

In [5]:
dir_path = '../Dataset/'
file_name = 'OASISset.csv'
OASIS_path = os.path.join(dir_path,file_name)

In [16]:
df_oasis_org = pd.read_csv(OASIS_path)

In [19]:
df_oasis = df_oasis_org[['Label','Subject','M/F','Age','Scanner','Hand','Education','Race']].head(5)
df_oasis.head(5)

               Label   Subject M/F   Age Scanner Hand  Education       Race
0  OAS30001_MR_d0129  OAS30001   F  65.0    3.0T    R       12.0  Caucasian
1  OAS30002_MR_d0371  OAS30002   M  68.0    1.5T    R       18.0  Caucasian
2  OAS30003_MR_d0558  OAS30003   F  60.0    3.0T    R       16.0  Caucasian
3  OAS30004_MR_d1101  OAS30004   F  58.0    3.0T    L       17.0  Caucasian
4  OAS30005_MR_d0143  OAS30005   F  48.0    1.5T    R       16.0      Asian